* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-direction: column;
}
.panel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 0px 20px;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 20px;
}
.rowOfCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  padding: 5px 0px; 
}
.image {
  width: 100px;
  height: 100px;
}
.quantity {
  font-size: 20px;
  font-weight: bold;
}
.totalPrice {
  font-size: 20px;
  font-weight: bold;
}
.price {
  font-size: 20px;
  font-weight: bold;
}
.iconRabesh {
  font-size: 40px;
  color: red;
}
.totalSum {
  display: flex; 
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.circular-button {
  display: inline-block;
  padding: 2px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  outline: none;
  width: 30px;
  height: 30px;
}
.plusMinus {
  display: flex;
  gap: 10px;
}
 
.orderBtn {
  width: 150px;
  height: 32px;
  background-color: black;
  color: white;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 0px 20px;
}