*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
} 
.productCard {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to top, #808080, #ffffff);
  gap: 20px;
  justify-content: center;
  align-items: self-start; 
}
.imgCard {
  grid-template-columns: auto auto;
  height: 300px;
  width: 300px;
  border-radius: 10%;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}
.oneProductCard{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 10%;
}
.iconPrice{
  display: flex;
  justify-content: space-around;
}
.swal2-title{
  font-size: 18px;
  font-weight: 500;
  width: 500px;
height: min-content;
  padding: 0px;
  margin: 0px;
}
.div:where(.swal2-container) img:where(.swal2-image){
  margin: 0px;
  padding: 0px;
}
.addToCart:hover{
  color: red;
  transform: scale(1.2);
}
