*{
box-sizing: border-box; 
    margin: 0px;
    padding: 0px;
}
.Navbar{
display: flex;
justify-content: space-evenly;
padding: 0px 60px 0px 60px;
margin: 0px 60px 0px 60px;
height: 95px;
align-items: center;
background: linear-gradient(to bottom, #808080, #ffffff);
}
input{
    background-color: transparent;
    border: 0px;
}
input:hover{
    color: red;
}
.link{
    display: flex;
    gap: 35px;
    font-size: 22px;
    font-weight: 600;
}
.icon{
    display: flex; 
    gap: 35px;
} 
.searchIcon{
    font-size: 24px;
    gap: 35px;
    transition: transform 0.3s ease-in-out;
}
.personIcon{
    font-size: 24px;
    gap: 35px;
    transition: transform 0.3s ease-in-out;
}
.cartIcon{
    font-size: 24px;
    gap: 35px;
    transition: transform 0.3s ease-in-out;
}
.searchIcon:hover{
    color: red;
    transform: scale(1.5);
}
.personIcon:hover{
    color: red;
    transform: scale(1.5);
}
.cartIcon:hover{
    color: red;
    transform: scale(1.5);
}
.creative{
font-family: sans-serif;
position: relative;
color: #FFFFFF;
-webkit-text-stroke: 0.4vw #383d52;
text-transform: uppercase;
}
.creative::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate 
{
    0%,10%,100%{
      width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}