*{
box-sizing: border-box; 
    margin: 0px;
    padding: 0px;
}
.Navbar{
    display: flex;
    justify-content: space-between;
    height: 95px;
    align-items: center;
    background: linear-gradient(to bottom, #808080, #ffffff);
    padding: 0px 30px;
}
input{
    background-color: transparent;
    border: 0px;
    font-size: 30px;
}
input:hover{
    color: red;
}
.link{
    display: flex;
    gap: 35px;
    font-size: 22px;
    font-weight: 600;
}
.icon{
    display: flex; 
    gap: 35px;
    align-items: center;
} 
.searchIcon{
    font-size: 24px;
    gap: 35px;
    transition: transform 0.3s ease-in-out;
}
.personIcon{
    font-size: 30px;
    gap: 35px;
    transition: transform 0.3s ease-in-out;
}
.cartIcon{
    font-size: 30px;
    gap: 35px;
    transition: transform 0.3s ease-in-out;
}
 
.personIcon:hover{
    color: red;
    transform: scale(1.5);
}
.cartIcon:hover{
    color: red;
    transform: scale(1.5);
}
.creative{
font-family: sans-serif;
position: relative;
color: #FFFFFF;
-webkit-text-stroke: 0.4vw #383d52;
text-transform: uppercase;
}
.creative::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate 
{
    0%,10%,100%{
      width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}
.searchBox {
    display: flex;
    max-width: 230px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #2f3640;
    border-radius: 50px;
    position: relative;
    color: white;
  }
  
  .searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  }
  /*hover effect*/
  button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
  }
  /*button pressing effect*/
  button:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 16px;
     padding: 25px 10px;
    height: 30px;
  }
  .searchInput:hover{
    color: white;
  }
   .counter{
    position: absolute;
    top: 2.3%;
    right: 2.5%;
    background-color: orange;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 2px;
    align-items: center;
   }