*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
} 
.static {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto; 
  background: linear-gradient(to top, #808080, #ffffff);
  gap: 20px;
  justify-content: center;
  align-items: center; 
  padding-bottom: 20px;
}
.staticImg {
  grid-template-columns: auto auto;
  height: 280px;
  width: 300px;
  border-radius: 10%;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}
.staticImg {
  font-size: 20px;
  color: white;
  font-weight: lighter;
}
.categoryName{
    font-weight: 500;
}